:root {
  --blue: #000099;
  --black: #222;
  --gray: #ccc;
}
* {
  box-sizing: border-box;
}

/*Spread to take up entire viewport, take away default margin */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center; /*main axis first*/
  align-items: center; /*cross axis*/
  background-image: url("body-background.jpg");
  background-position: right;
  background-size: 82.5% 100%; /*width height*/
  background-repeat: no-repeat;
}

form,
#endQuiz {
  display: none;
}

#quizInstructions,
#endQuiz,
.main-container-quiz {
  display: flex;
  flex-direction: column; /*top to bottom flow*/
  justify-content: center; /*main axis first*/
  align-items: center; /*cross axis*/
  border: 3px solid var(--black);
  border-radius: 20px;
  padding: 30px 70px 20px 70px; /*top right bottom left*/
  background: var(--gray);
}

.btn {
  border: 3px solid var(--blue);
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 35px;
  color: black;
  background: transparent;
}

.btn-wrapper {
  /*justified in center*/
  width: 100%;
  display: flex;
  justify-content: center; /*main axis first*/
  align-items: center; /*cross axis*/
}
