:root {
  --blue: #0044aa;
  --black: #222;
  --gray: #ccc;
  font-size: 18px;
}
* {
  box-sizing: border-box;
}

/*Spread to take up entire viewport, take away default margin */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center; /*main axis first*/
  align-items: center; /*cross axis*/
  background-image: url("body-background.jpg");
  background-position: right;
  background-size: 82.5% 100%; /*width height*/
  background-repeat: no-repeat;
  color: white;
}

form,
#endQuiz {
  display: none;
}

#quizInstructions,
#endQuiz,
.main-container-quiz {
  display: flex;
  flex-direction: column; /*top to bottom flow*/
  justify-content: center; /*main axis first*/
  align-items: center; /*cross axis*/
  border: 3px solid var(--black);
  border-radius: 20px;
  padding: 30px 70px 20px 70px; /*top right bottom left*/
  background: #0594ed;
}

.btn {
  border: 3px solid white;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 35px;
  color: white;
  background: #07bbe8;
  margin-top: 20.5;
}

.qa-section {
  background: var(--blue);
  border-radius: 15px;
  padding: 30px;
}

.btn-wrapper {
  display: flex;
  justify-content: center; /*main axis first*/
  align-items: flex-end; /*cross axis*/
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  #quizInstructions,
  #endQuiz,
  .main-container-quiz {
    width: 100%;
    padding: 15px 35px 10px 35px;
  }
  :root {
    font-size: 14px;
  }
}
